<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <typeHandlers>
        <typeHandler handler="boying.common.mybatis.EnumHandler" javaType="boying.domain.enums.StateCode"/>
        <typeHandler handler="boying.common.mybatis.EnumHandler" javaType="boying.domain.enums.VideoType"/>
        <typeHandler handler="boying.common.mybatis.EnumHandler" javaType="boying.domain.enums.BoolType"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="boying.common.dal.mybatis.MonitorPlugin"/>
    </plugins>

</configuration>

